.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--color-secondary);
    color: var(--color-text);
    margin-top: 40px;
    border-top: 1px solid var(--color-border);
}
/* .footer {
  background-color: #111;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
} */

.footerContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin-bottom: 20px;
}

.footerSection {
  display: flex;
  flex-direction: column; 
  align-items:flex-start; 
  margin:auto
  
}

.footerSection h3 {
  color: var(--color-primary); /* hồng chủ đạo */
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.footerSection p,
.footerSection a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.footerSection a:hover {
  color:var(--color-primary);
}

.copyRight {
  font-size: 0.85rem;
  color:var(--color-text);
  margin-top: 10px;
}
