.backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--color-primary);
  color: black;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  z-index: 200;
  margin-bottom: 100px;
  opacity: 0.9;
  /* visibility: hidden; */
  transform: translateY(30px);
}

.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.backToTop:hover {
  /* transform: translateY(1px); */
  background-color: var(--color-secondary);
}
